<!DOCTYPE html>
<html>
<head>
  <title>GotgoodgameCapstoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header group">
  <div class="header-logo-first">
    gotgood
  </div>
  <div class="header-logo-second">
    games
  </div>
  <nav class="header-nav">
<% if signed_in? %>
  <ul class ="header-list">
    <li><%= current_user.username %></li>
    <li><%= link_to "Sign Out", session_url, :method => :delete %></li>
  </ul>
<% else%>
  <ul class="header-list" >
    <li><%= link_to "Sign In", new_session_url %></li>
    <li><%= link_to "Sign Up", new_user_url %></li>
  </ul>
<% end %>
<br>
<br>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <b><%= error %></b>
  <% end %>
<% end %>
  </nav>
</header>

<%= yield %>

</body>
</html>
