<!DOCTYPE html>
<html>
<head>
  <title>GotgoodgameCapstoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>
<br>
<br>
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<b><%= error %></b>
<% end %>
<% end %>

<%= yield %>

</body>
</html>
